<img ng-src="{{face.images[0]}}" class="face" width="200">
<h1>{{face.name}}</h1>

<div>location</div>
<li ng-repeat="loc in face.location">
  {{loc}}
</li>

<div>He likes Russia? {{face.likes.russia}}</div>
<li ng-repeat="img in face.images">
  <img ng-src="{{img}}" width="200">
</li>

<div>gender: {{face.gender}}</div>
<div>avaiability: {{face.avaiability[0]}}</div>
<div>remember: {{face.remember}}</div>
<div>Does he likes America? {{face.likes.america}}</div>
<div>Favorite: {{face.likes.favorite}}</div>