<img ng-src="{{mainImageUrl}}" class="facethumb" height="200">
<h1>{{face.name}}</h1>
<h2>{{face.id}}</h2>

<div>location</div>
<li ng-repeat="loc in face.location">
  {{loc}}
</li>

<div>He likes Russia? {{face.likes.russia}}</div>
<ul>
  <li ng-repeat="img in face.images">
  <img ng-src="{{img}}" width="200" class="smallthumb" ng-click="setImage(img)">
</li>
</ul>


<div>gender: {{face.gender}}</div>
<div>avaiability: {{face.avaiability[0]}}</div>
<div>remember: {{face.remember}}</div>
<div>Does he likes America? {{face.likes.america}}</div>
<div>Favorite: {{face.likes.favorite}}</div>
<div></div>
<div>LIKES TUPMAN?</div>
<div>{{face.likes.tupman | ddda}}</div>

<button ng-click="hello('Elmo')">Hello</button>