<!doctype html>
<html lang="en" ng-app ng-controller="faceListCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="{{ddd}}"></title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
	<div>
		Search: <input ng-model="ddd">
	</div>

  <div class="faces" ng-repeat="face in faces | filter:ddd">
  	<div>{{face.name}}</div>
  	<div>age: {{face.age}}</div>
  </div>

  <div style="height:300px"></div>
  <div id="status">Current filter: {{ddd}}</div>
  <div>Total nr. of faces: {{faces.length}}</div>
  <div>{{test}}</div>

  <table>
  	<tr><th>row nr.</th></tr>
  	<tr ng-repeat="i in [0,1,2,3,4,5,6,7]"><td>{{i}}</tr></tr>
  </table>

</body>
</html>